.main_heading {
    text-align: center;
    color: var(--orange);
    font-size: 40px;
    font-family: cursive;
    font-weight: 700;
}

.container {
    width: 80%;
    /* border: 2px solid black; */
    height: 300px;
    margin: 0 auto;
}

.cover_image {
    background-image: url("../../photos/background.jpg");
    height: 60%;
    background-size: cover;
    /* opacity: 0.8; */
    padding: 60px 60px;
    border-radius: 15px;
}

.row {
    /* border: 2px solid white; */
    display: flex;
    color: var(--white);
    line-height: 19px;
    gap: 40px;
    align-items: center;
}

.column {
    transition: all 0.6s ease;
}

.column:hover {
    scale: 1.1;
    cursor: pointer;
}

.single_food_icon {
    display: flex;
    flex-direction: column;
}

.food_icon {
    height: 50px;
    width: 50px;
    color: var(--yellow);
}

.content_heading {
    font-size: 20px;
    text-transform: uppercase;
}

.content_heading p {
    font-size: 15px;
}

/* Mobile view */

@media (max-width: 480px) {
    .container {
        width: 90%;
    }

    .cover_image {
        opacity: 0.8 !important;
        padding: 15px 21px
    }

    .row {
        gap: 20px;
        line-height: 12px;
    }

    .content_heading {
        font-size: 10px;
    }

    .single_food_icon p {
        font-size: 7px;
        font-weight: 700;
    }
}