.button {
    height: 66px;
    width: 200px;
    background: var(--green);
    color: var(--white);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.6s ease;
    border: none;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.button:hover {
    background-color: var(--orange);
    scale: 1.1;
}

.white_bg {
    background-color: var(--white);
    color: var(--green);
}

.white_bg:hover {
    background-color: var(--white);
    color: var(--green);
}

/* mobile view */
@media (max-width: 480px) {
    .button {
        height: 30px !important;
        width: 100px !important;
        font-size: 11px;
        font-size: 9px;
    }
}