.back_btn {
    display: inline-block;
    border: 1px solid;
    /* justify-content: flex-start; */
    padding: 7px;
    background-color: #ff5722;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.seat_images {
    display: inline-flex;
    gap: 72px;
    margin: 10px;
    /* width: 76%;
    justify-content: space-between; */
}

.seat_images img {
    width: 203px;
    border-radius: 50%;
}

.container {
    /* border: 2px solid black; */
    width: 1000px;
    height: 800px;
    margin: 0 auto;
    /* background: url(https://img.freepik.com/premium-vector/food-drink-pattern-background_554445-949.jpg?w=740); */
    background: #111031;
    background-size: cover;
    border-radius: 20px;
}

.reservations {
    width: 80%;
    /* border: 1px solid black; */
    height: 100%;
    margin: 40px auto;
    text-align: center;
    color: #FFFFFF;
}

.title {
    font-size: 44px;
    font-weight: 700;
    text-transform: uppercase;
}

.reservation_form {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.rows {
    width: 350px;
    height: 65px;
}

.rows input {
    width: 350px;
    height: 65px;
    background: border-box;
    /* border: 1px solid #9450c8; */
    border-radius: 10px;
    font-size: 20px;
    background: floralwhite;
}

.input_wide {
    width: 50%;
}

.reservation_form button {
    width: 83%;
    height: 62px;
    font-size: 30px;
    font-weight: 900;
    border: none;
    border-radius: 15px;
    background: darkslategrey;
    color: white;
}