.container {
    background-image: url('https://foodking-react.vercel.app/assets/img/banner/main-bg.jpg');
    margin: 10%;
    height: 500px;
    position: relative;
    border-radius: 15px;
}

.book_now {
    position: absolute;
    top: 50%;
    right: 15%;
}

.text {
    color: var(--white);
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-top: 8%;
    padding-left: 50px;
    text-transform: uppercase;
}

.text h2 {
    font-size: 3rem;
}

.customer_support {
    display: flex;
    gap: 20px;
    align-items: center;
}

.customer_support span {
    color: var(--white);
    font-size: 20px;
}

.call_icon {
    width: 3em;
    height: 3em;
    color: var(--green);
}

/* mobile view */
@media (max-width: 480px) {
    .container {
        margin: 0 auto;
        height: 200px;
        width: 90%;
    }

    .text {
        position: absolute;
        /* padding-top: 20%; */
        padding-left: 15px;
    }

    .text h2 {
        font-size: 14px;
    }

    .call_icon {
        position: relative;
        top: 9px;
        left: 9px;
        font-size: 8px;
    }

    .customer_support span {
        position: relative;
        right: 41px;
    }

    .book_now {
        position: absolute;
        top: 45%;
        right: 10%;
    }
}