.hero_container {
    max-width: 1314px;
    width: 100%;
    /* border: 2px solid black; */
    margin-left: auto;
    margin-right: auto;
    padding: 120px 0 100px;
}

.row {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}

.left span {
    font-weight: bold;
    font-weight: bold;
    font-size: 28px;
}

span {
    color: var(--orange);
}

.left h2 {
    font-size: 70px;
    line-height: 30%;
    font-weight: 100;
    text-transform: uppercase;
    font-family: fantasy;
    color: var(--rating);
    letter-spacing: 10px;
    text-shadow: -5px 4px #626262;
}

.right {
    display: flex;
    gap: 30px;
    align-items: center;
}

.hero_buttons {
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    border: none;
    color: var(--base);
    /* background: #a40505; */
    transition: all .4s ease-in-out;
}

.hero_buttons:hover {
    /* width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    border: none; */
    background: var(--orange);
    color: var(--white);
}

.food_category_slider {
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    gap: 30px;
    list-style-type: none;
    padding: 0;
}

.food_category_list {
    overflow: auto;
    margin: 0 25px;
}

.food_category_list::-webkit-scrollbar {
    display: none;
}


.brand_wrpper .brand_title:before {
    position: absolute;
    top: 12px;
    right: 0;
    content: "";
    background-color: var(--border);
    width: 991px;
    height: 1px;
}

/* mobile view */
@media (max-width: 480px) {
    .hero_container {
        padding: 50px 0 50px;
        width: 90%;
    }

    .row {
        margin: 0 10px;
    }

    .left h2 {
        font-size: 15px;
        /* line-height: 30%; */
        font-weight: 600;
    }

    .right {
        gap: 10px;
    }

    .right button {
        width: 30px;
        height: 30px;
        line-height: normal;
    }

    .food_category_list {
        margin: 0 5px;
    }

    .food_category_slider {
        gap: 10px;
    }
}