.container {
    width: 80%;

    margin: 120px auto;
    border-radius: 20px;
}

.background_banner {
    background: url(https://foodking-react.vercel.app/assets/img/banner/main-cta-bg.jpg);
    background-size: cover;
    padding: 120px 60px;
    height: 215px;
    border-radius: 20px;
    position: relative;
}

.small {
    font-size: 19px;
    font-weight: 600;
    color: var(--yellow);
    text-transform: uppercase;
}

.yellow {
    color: var(--yellow);
}

.title_heading {
    font-size: 65px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: Barlow Condensed, sans-serif;
    margin: 0;
    color: var(--white);
}

.order_btn {
    background-color: var(--white) !important;
    color: var(--black);
}

.delivery_man {
    position: absolute;
    top: -62px;
    right: -80px;
    transition: all 1s
}

.delivery_man:hover {
    transform: translateX(-70px)
}

.arrow_shape {
    display: inline-block;
    position: absolute;
    top: 8px;
    right: 325px;
}

.frame_shape {
    position: absolute;
    bottom: 62%;
    left: 52%;
}

/* Mobile view */

@media (max-width: 480px) {
    .container {
        width: 90%;
        margin: 50px auto;
    }

    .background_banner {
        height: 100px;
        padding: 31px 30px
    }

    .background_banner h2 {
        font-size: 17px;
    }

    .small {
        font-size: 8px;
    }

    .delivery_man {
        height: 100px;
        position: absolute;
        top: 18px !important;
        right: 0px;
    }

    .frame_shape,
    .arrow_shape {
        visibility: hidden;
    }

    .delivery_man img {
        width: 180px;
    }
}