.heading {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    font-family: 'ADLaM Display';
    color: var(--secondary);
}

.container {
    /* border: 2px solid black; */
    width: 70%;
    height: 65vw;
    margin: 0 auto;
}

.main_cart {
    /* border: 1px solid black; */
    padding: 30px;
    background: var(--body);
    box-shadow: 11px 14px 34px gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.cart_items {
    display: flex;
    gap: 50px;
    max-height: 400px;
    overflow: auto;
}

.cart_table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
}

.header_row {
    color: var(--secondary);
}

.header_row th,
.body_row td {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    font-size: 19px;
}

tbody input {
    width: 90px;
    height: 50px;
    text-align: center;
    font-weight: bold;
    background-color: #eee9dd;
    border: none;
    border-radius: 10px;
}

.body_row {
    padding-top: 10px;
    padding-bottom: 10px;
}

.cart_item_img_name {
    width: 400px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 35px;
}

.cart_item_img {
    width: 120px;
    border-radius: 12px;
}

.cart_item_name {
    color: var(--secondary);
    font-size: 18px;
    font-weight: 600;
}

.item_price {
    font-weight: 700;
    color: var(--base);
}

.text_center_width {
    width: 140px;
    text-align: center;
}

.remove_btn {
    cursor: pointer;
    color: #ad2900;
    transition: all 0.3s ease-in-out;
}

.remove_btn:hover {
    scale: 1.1;
    color: var(--secondary);
    rotate: 90deg;
}

.edit_btn {
    visibility: hidden;
    font-size: 20px !important;
    color: #ad2900;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.edit_btn:hover {
    scale: 1.3;
    color: var(--secondary);
    rotate: 360deg;
}

.edit_btn_container {
    position: relative;
    width: 35px;
}

.edit_btn_container:hover .edit_btn {
    visibility: visible;
}

/* Cart total */
.cart_total {
    padding: 0;
    width: 560px;
    height: 435px;
    position: absolute;
    left: 737px;
    background: var(--white);
    margin-top: 48px;
    border-radius: 12px;
    box-shadow: 11px 14px 34px gray;
}

.cart_total h4 {
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'ADLaM Display';
    font-weight: 500;
    color: var(--orange);
    border-bottom: 2px solid var(--rating);
    width: max-content;
    margin: 25px auto;
}

.cart_total ul {
    padding: 0px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.cart_total ul hr {
    width: 80%;
    align-self: center;
}

.list li {
    display: flex;
    justify-content: space-around;
}

.list span {
    /* width: 50%; */
    /* color: black; */
    font-size: 18px;
    text-transform: uppercase;
    padding: 11px 0;
    font-weight: 500;
    font-weight: 600;
}

.checkout_btn {
    margin: 22px 20px 0;
}

.checkout_btn button {
    height: 55px;
    width: 100%;
    background: var(--bg3);
    color: var(--white);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.6s ease;
    border: none;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
}

.checkout_btn button:hover {
    background-color: var(--orange);
}