.container {
    width: 80%;

    margin: 120px auto;
    border-radius: 20px;
}

.background_banner {
    background: url(https://foodking-react.vercel.app/assets/img/banner/main-cta-bg.jpg);
    background-size: cover;
    padding: 120px 60px;
    height: 215px;
    border-radius: 20px;
    position: relative;
}

.small {
    font-size: 19px;
    font-weight: 600;
    color: var(--yellow);
    text-transform: uppercase;
}

.yellow {
    color: var(--yellow);
}

.title_heading {
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: Barlow Condensed, sans-serif;
    margin: 0;
    color: var(--white);
}

.order_btn {
    background-color: var(--white) !important;
    color: var(--black);
}

.delivery_man {
    position: absolute;
    top: -62px;
    right: -80px;
    transition: all 1s
}

.delivery_man:hover {
    transform: translateX(-70px)
}

.arrow_shape {
    display: inline-block;
    position: absolute;
    top: 8px;
    right: 325px;
}

.frame_shape {
    position: absolute;
    bottom: 62%;
    left: 52%;
}

/* Mobile view */

@media (max-width: 480px) {
    .container {
        width: 90%;
        margin: 50px auto;
    }

    .background_banner {
        height: 100px;
        padding: 31px 30px
    }

    .background_banner h2 {
        font-size: 17px;
    }

    .small {
        font-size: 8px;
    }

    .delivery_man {
        height: 100px;
        position: absolute;
        top: 18px !important;
        right: 0px;
    }

    .frame_shape,
    .arrow_shape {
        visibility: hidden;
    }

    .delivery_man img {
        width: 180px;
    }
}

/* **** Footer Section */

/* .footer_section {
    position: relative;
    background-color: var(--white);
} */

.footer {
    padding: 1rem;
    background-color: var(--button2);
    color: #f3f4f6;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.5rem 0;
    margin: 0 auto;
    gap: 2rem;
}

.containerRow {
    flex-direction: row;
}

.logoWrapper {
    display: flex;
    justify-content: center;
    gap: 0.75rem;
    align-items: center;
    margin-bottom: 50px;
}

.logoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 5rem;
    height: 4rem; */
    border-radius: 9999px;
    background-color: #a78bfa;
    /* violet-400 */
}

.logoIcon {
    width: 4.25rem;
    height: 4.25rem;
    border-radius: 50%;
}

.brandName {
    text-decoration: none;
    color: var(--orange);
    font-weight: 800;
    font-family: 'ADLaM Display', serif;
    font-size: 2em;
}

.contact_us {
    height: 50px;
    width: 170px;
    background: var(--orange);
    color: var(--black);
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.6s ease;
    color: var(--white);
    font-weight: 600;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 0.75rem;
}

.gridLg {
    grid-template-columns: repeat(4, 1fr);
}

.linkSection {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.heading {
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #f9fafb;
    /* gray-50 */
    font-weight: bold;
}

.linkList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.link {
    text-decoration: none;
    color: inherit;
    font-size: 0.875rem;
}

.social {
    display: flex;
    gap: 0.75rem;
}

.socialIcon {
    width: 1.25rem;
    height: 1.25rem;
    fill: currentColor;
}

.copyright {
    padding: 1.5rem 0;
    text-align: center;
    font-size: 0.875rem;
    color: #9ca3af;
    /* gray-400 */
}