/* :root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --primary-color: #7064e5;
  --secondary-color: #a49af7;
  --secondary-bg-color: #f0f0fc;
--header-bg: #282c34;
--filter-bar-bg: #f0f0fc;
--link-color: #757cea;

}*/


@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.adlam-display-regular {
  font-family: "ADLaM Display", serif;
  font-weight: 400;
  font-style: normal;
}


:root {
  --body: #fff;
  --black: #000;
  --white: #fff;
  --green: #00813d;
  --orange: #ff5722;
  --yellow: #ffb936;
  --header: #212121;
  --base: #00813d;
  --gray-text: #5c5c5b;
  --border: #d9d9d9;
  --border2: #ffffff2b;
  --button: #1c2539;
  --button2: #030734;
  --rating: #ff9f0d;
  --bg: #f4f1ea;
  --bg2: #df0a0a0d;
  --scrollbar-track: #8fc8aa;
  --scrollbar-thumb: #00813d;
}

body {
  margin: 0;
  font-family: Barlow Condensed, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg);
  /* box-sizing: border-box; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
}

/* ::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
} */

@media (max-width: 480px) {
  h1 {
    font-size: 16px !important;
  }

  span {
    font-size: 10px !important;
    color: inherit;
  }
}