.nav_top {
    display: flex;
    height: 46px;
    background: var(--orange)
}

/* form mobile view */
@media (max-width: 480px) {
    .nav_top {
        height: 30px;
        max-width: 100%;
    }

    .nav_top_container {
        max-width: 70%;
    }

    .nav_top_social_icon {
        max-width: 40%;
    }

    .nav_container {
        max-width: 100%;
        margin: 0 10px !important;
    }

    .nav_top_list {
        padding: 10px;
        /* line-height: 10px; */
        line-height: 1;
    }

    .nav_top_list li {
        font-size: 8px;
    }

    .nav_top_social_icon img {
        width: 1em;
    }

    /* bottum nav */

    .nav_container img,
    .logged_user {
        width: 45px !important;
    }

    .logged_user p {
        font-size: 10px !important;
    }

    .nav_container h1 {
        font-size: 15px;
    }

    .nav_left {
        gap: 10px !important;
    }

    .nav_cart_logo {
        width: 30px !important;
    }

    .cart_counter {
        width: 13px !important;
        height: 13px !important;
        font-size: 9px;
    }

    .nav_contactus {
        height: 30px !important;
        width: 100px !important;
        font-size: 11px;
    }
}

.nav_top_container {
    display: flex;
    align-items: center;
    width: 70%;
    background: var(--bg);
    border-radius: 0 0px 50px 0px;
}

.nav_top_social_icon {
    display: flex;
    /* align-items: center; */
    align-items: center;
    /* background: #FF5722; */
    width: 30%;
    justify-content: center;
    gap: 10px;
}

span {
    color: var(--orange);
}

.small_icon {
    width: 35px;
}

.nav_top_list {
    display: flex;
    gap: 25px;
    align-items: center;
}

.nav_top_list li {
    list-style: none;
}

.truck_icon {
    display: flex;
    align-items: center;
}

hr {
    margin: 0px;
}

/* .nav {

} */

.nav_fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}

.nav_container {
    display: flex;
    justify-content: space-between;
    margin: 0 112px;
    align-items: center;
    background-color: var(--bg);
}

.nav_left,
.nav_right {
    display: flex;
    align-items: center;
    gap: 20px;

}

.nav_logo {
    width: 85px;
    border-radius: 50%;
}

.nav_header {
    text-decoration: none;
    color: var(--orange);
    font-weight: 800;
    font-family: 'ADLaM Display', serif;
    font-size: 2em;
}

.nav_cart {
    position: relative;
    cursor: pointer;
}

.nav_cart_logo {
    width: 50px;
    border-radius: 50%;
}

.cart_counter {
    position: absolute;
    right: 0px;
    width: 17px;
    height: 17px;
    background: var(--black);
    color: var(--white);
    border-radius: 50%;
    /* display: flex; */
    text-align: center;
}

.nav_contactus {
    height: 50px;
    width: 170px;
    background: var(--orange);
    color: var(--black);
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.6s ease;
}

.nav_contactus:hover {
    background-color: var(--green);
    scale: 1.1;
}

.logged_user {
    position: relative;
    width: 11vh;
    /* height: 10vh; */
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    cursor: pointer;
}



.logged_user img {
    width: inherit;
}

.logged_user p {
    margin: 0;
    font-size: 1.2em;
    font-weight: 600;
    color: #0D0260;
    font-family: monospace;
}

.logged_user:hover .user_actions {
    opacity: 1;
    transform: translateY(0);
    /* Move down to visible position */
    visibility: visible;
}

.user_actions {
    /* display: none; */
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    background: #ff5722;
    padding: 0;
    width: 150%;
    text-align: center;
    opacity: 0;
    /* Start above */
    transform: translateY(-10px);
    visibility: visible;
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
}

.user_actions li {
    list-style: none;
    padding: 8px 15px;
    text-align: center;
}

.user_actions li button {
    background-color: transparent;
    border: none;
    color: black;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}


.user_actions li button:hover {
    color: var(--base);
}

.nav_menu {
    height: 50px;
    cursor: pointer;
}